openapi: 3.1.0

info:
  title: Scouting America API
  version: 0.1.0
  description: >-
    Unofficial, community-maintained description of the public Scouting
    America API at api.scouting.org. Not affiliated with or endorsed by
    Scouting America. The MIT license applies to this description and repository only,
    not to the API or its data.


    Some list endpoints cache responses without regard to the query string.
    On those endpoints, send `Cache-Control: no-cache` or query filters may
    be ignored.
  contact:
    name: scouting-api on GitHub
    url: https://github.com/scouting-commons/scouting-api/issues
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.scouting.org
    description: Production

tags:
  - name: Advancement
    description: Ranks, merit badges, and other advancement
  - name: Lookups
    description: >-
      Reference lists, such as countries, states, positions, and swimming
      classifications

paths:
  /advancements/awards:
    get:
      tags: [Advancement]
      operationId: listAwards
      summary: List awards
      description: >-
        Returns awards, such as knots, palms, and outdoor awards. Pass an
        award's `id` to the requirements endpoint to get its requirements.
        Filters combine with AND. Unknown query parameters are ignored.
      security: []
      parameters:
        - $ref: "#/components/parameters/CacheControl"
        - name: status
          in: query
          description: >-
            `active` (the default) returns awards without an `expiredDate`,
            `expired` returns those with one, and `all` returns both.
            Case-sensitive.
          schema:
            type: string
            enum: [active, expired, all]
        - name: programId
          in: query
          description: >-
            Return only awards whose `unitTypeId` is this value. Awards for all
            programs (empty `unitTypeId`) are left out.
          schema:
            type: string
            enum: ["1", "2", "3", "4", "5"]
      responses:
        "200":
          description: Matching awards
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [awards]
                properties:
                  awards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Award"
              example:
                awards:
                  - id: "97"
                    name: 50-Miler Award
                    short: 50 Miler
                    category: ""
                    itemNumber: ""
                    rankId: ""
                    rank: ""
                    image: /images/awards/patches/50miler100.png
                    imageSmall: ""
                    sku: "191"
                    skuName: 50 Miler Award Emblem
                    price: "4.39"
                    priceLastupdated: "2026-09-16"
                    adultAward: "False"
                    adminNotes: ""
                    unitTypeId: "2"
                    program: Scouts BSA
                    unitType: Scouts BSA Troop
                    scoutNet: "605"
                    showOnEvents: "True"
                    showOnQuickEntry: "True"
                    activeDate: ""
                    expiredDate: ""
                    imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler100.png
                    imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler200.png
                    imageUrl300: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler300.png
                    imageUrl400: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler400.png
                    versions:
                      - awardVersionId: 5
                        version: "1911"
                        rankId: null
                        rank: null
                        expiredDate: null
                        versionEffectiveDt: "1911-01-01"
                        versionExpiryDt: null
                        image: /images/awards/patches/50miler100.png
        "400":
          $ref: "#/components/responses/InvalidQuery"

  /advancements/awards/{awardId}:
    get:
      tags: [Advancement]
      operationId: getAward
      summary: Get an award
      description: >-
        Returns one award from the award list, with a few fields that differ
        from the list: `priceLastUpdated` replaces `priceLastupdated`,
        `program` is absent, `image` is a bare file name, and empty values are
        often `null`. An ID that isn't in the award list returns `200` with
        `name` and most other fields `null`, not `404`.
      security: []
      parameters:
        - $ref: "#/components/parameters/AwardId"
      responses:
        "200":
          description: >-
            The award, or a placeholder with `null` fields if no award in the
            list has this ID
          content:
            application/json:
              schema:
                type: object
                anyOf:
                  - $ref: "#/components/schemas/AwardDetail"
                  - $ref: "#/components/schemas/MissingAward"
              example:
                id: "97"
                name: 50-Miler Award
                short: 50 Miler
                category: ""
                itemNumber: ""
                rankId: ""
                rank: ""
                image: 50miler100.png
                imageSmall: ""
                sku: "191"
                skuName: 50 Miler Award Emblem
                price: "4.39"
                priceLastUpdated: "2026-09-16"
                adultAward: "False"
                adminNotes: ""
                unitTypeId: "2"
                unitType: Scouts BSA Troop
                scoutNet: "605"
                showOnEvents: "True"
                showOnQuickEntry: "True"
                activeDate: null
                expiredDate: null
                imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler100.png
                imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler200.png
                imageUrl300: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler300.png
                imageUrl400: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler400.png
                versions:
                  - awardVersionId: 5
                    version: "1911"
                    rankId: null
                    rank: null
                    expiredDate: null
                    versionEffectiveDt: "1911-01-01"
                    versionExpiryDt: null
                    image: /images/awards/patches/50miler100.png

  /advancements/awards/{awardId}/requirements:
    get:
      tags: [Advancement]
      operationId: getAwardRequirements
      summary: Get an award's requirements
      description: >-
        Returns one requirements version of an award: the newest by default,
        or the one given by `versionId`. Requirements are a flat list; nest
        them using `parentRequirementId` and order them by `sortOrder`. Many
        awards have no requirements. Some IDs that aren't in the award list
        also return `200`, with an empty version and no requirements.
      security: []
      parameters:
        - $ref: "#/components/parameters/AwardId"
        - name: versionId
          in: query
          description: >-
            An `awardVersionId` of this award from its `versions`. Defaults to
            the newest version. When given, the response has numbers and
            booleans in place of numeric and `True`/`False` strings (see
            `AwardVersionRequirements`).
          schema:
            type: integer
            minimum: 1
            examples: [337]
      responses:
        "200":
          description: >-
            The requested requirements version. Its shape depends on whether
            `versionId` was given.
          content:
            application/json:
              schema:
                type: object
                anyOf:
                  - $ref: "#/components/schemas/AwardRequirements"
                  - $ref: "#/components/schemas/AwardVersionRequirements"
              example:
                awardId: "97"
                awardName: 50-Miler Award
                awardVersionId: 5
                version: "1911"
                versionExpiredDate: ""
                versionEffectiveDt: "1911-01-01"
                versionExpiryDt: ""
                versionImage: /images/awards/patches/50miler100.png
                image: /images/awards/patches/50miler100.png
                imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler100.png
                imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler200.png
                imageUrl300: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler300.png
                imageUrl400: https://d1kn0x9vzr5n76.cloudfront.net/images/awards/patches/50miler400.png
                requirements:
                  - id: "704"
                    number: ""
                    name: The 50-Miler Award is presented to each qualifying individual for ...
                    listNumber: ""
                    sortOrder: "0.5"
                    footer: ""
                    childrenRequired: ""
                    required: "False"
                    parentRequirementId: ""
                    totalMBRequired: ""
                    linkedAdventureRequirementId: ""
                    linkedAdventureId: ""
                    linkedMeritBadgeId: ""
                  - id: "705"
                    number: ""
                    name: Make complete and satisfactory plans for the trip, ...
                    listNumber: "1."
                    sortOrder: "1"
                    footer: ""
                    childrenRequired: ""
                    required: "True"
                    parentRequirementId: ""
                    totalMBRequired: ""
                    linkedAdventureRequirementId: ""
                    linkedAdventureId: ""
                    linkedMeritBadgeId: ""
        "400":
          description: "`awardId` or `versionId` is invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C400
                message: Bad Request
                errorDesc: Invalid request - "awardId" must be larger than or equal to 1
        "404":
          description: >-
            No award exists with that ID, or `versionId` is not a version of
            this award
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C404
                message: Not Found
                errorDesc: "Unable to find the award for the given awardId. - awardId: 999999"

  /advancements/meritBadges:
    get:
      tags: [Advancement]
      operationId: listMeritBadges
      summary: List merit badges
      description: >-
        Returns merit badges. Pass a badge's `id` to the requirements endpoint
        to get its requirements. Filters combine with AND. A filter value that
        matches nothing returns an empty list.
      security: []
      parameters:
        - $ref: "#/components/parameters/CacheControl"
        - name: id
          in: query
          description: Return only the merit badge with this `id`
          schema:
            type: string
            examples: ["3"]
        - name: version
          in: query
          description: >-
            Return only requirements versions from this year. Badges with no
            matching version are left out.
          schema:
            type: string
            examples: ["2019"]
        - name: status
          in: query
          description: >-
            Which requirements versions to put in `versions`. `active` (the
            default) gives each badge's current version and leaves out
            discontinued badges. `inactive` gives past versions, including those
            of discontinued badges, and leaves out badges with none.
            Case-sensitive.
          schema:
            type: string
            enum: [active, inactive]
      responses:
        "200":
          description: Matching merit badges
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [meritBadges]
                properties:
                  meritBadges:
                    type: array
                    items:
                      $ref: "#/components/schemas/MeritBadge"
              example:
                meritBadges:
                  - id: "3"
                    categoryId: "3"
                    category: Business and Industry
                    bsaNumber: "15"
                    name: American Business
                    shortName: Amer. Business
                    description: ""
                    image: 15_150.png
                    eagleRequired: "False"
                    centennial: "False"
                    dateCreated: ""
                    dateDiscontinued: ""
                    lastUpdated: "2014-08-20"
                    adminNotes: ""
                    worksheetDOC: ""
                    worksheetPDF: http://meritbadge.org/wiki/images/7/70/American_Business.pdf
                    bsaPamphletNumber: "35850"
                    bsaPamphletEdition: "2002"
                    bsaPamphletImage: 3.jpg
                    bsaEmblemNumber: ""
                    bsaEmblemImage: ""
                    bsaRequirements: http://www.scouting.org/scoutsource/BoyScouts/AdvancementandAwards/MeritBadges/mb-ABIZ.aspx
                    pageURL: american-business-merit-badge-requirements.asp
                    searchKeywords: American Business Merit Badge Requirements
                    sku: "659930"
                    price: "3.99"
                    priceLastUpdated: "2026-09-16"
                    imageUrl50: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_50.png
                    imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_100.png
                    imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_200.png
                    versions:
                      - versionId: "282"
                        version: "2019"
                        versionEffectiveDt: "2019-01-01"
                        versionExpiryDt: ""
                        expiredDate: ""
        "400":
          $ref: "#/components/responses/InvalidQuery"

  /advancements/meritBadges/{meritBadgeId}/requirements:
    get:
      tags: [Advancement]
      operationId: getMeritBadgeRequirements
      summary: Get a merit badge's requirements
      description: >-
        Returns the current requirements version for a merit badge.
        Requirements are a flat list; nest them using `parentRequirementId`
        and order them by `sortOrder`.
      security: []
      parameters:
        - $ref: "#/components/parameters/MeritBadgeId"
      responses:
        "200":
          description: The merit badge's current requirements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeritBadgeRequirements"
              example:
                meritBadgeId: "3"
                meritBadgeName: American Business
                version: "2019"
                versionId: "282"
                versionEffectiveDt: "2019-01-01"
                versionExpiryDt: ""
                eagleRequired: "False"
                imageUrl50: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_50.png
                imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_100.png
                imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_200.png
                requirements:
                  - id: "8386"
                    name: "Do the following:"
                    listNumber: "1."
                    requirementNumber: ""
                    sortOrder: "1"
                    childrenRequired: "5"
                    required: "False"
                    parentRequirementId: ""
                    daysRequired: ""
                    counselorApproval: "False"
                    footer: ""
                  - id: "8387"
                    name: Explain four features of the free enterprise system in the United States. ...
                    listNumber: (a)
                    requirementNumber: 1a
                    sortOrder: "1.1"
                    childrenRequired: ""
                    required: "True"
                    parentRequirementId: "8386"
                    daysRequired: ""
                    counselorApproval: "False"
                    footer: ""
        "404":
          description: No merit badge exists with that ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C404
                message: Not Found
                errorDesc: "Merit Badge not found, verify that the meritBadgeId belongs to an existent merit badge - meritBadgeId: 999999"

  /advancements/ranks:
    get:
      tags: [Advancement]
      operationId: listRanks
      summary: List ranks
      description: >-
        Returns ranks across all programs, one item per requirements version.
        A rank with several versions appears once per version, sharing `id`
        but with different `versionId`. Filters combine with AND. A filter
        value that matches nothing returns an empty list.
      security: []
      parameters:
        - $ref: "#/components/parameters/CacheControl"
        - name: id
          in: query
          description: Return only versions of the rank with this `id`
          schema:
            type: string
            examples: ["1"]
        - name: programId
          in: query
          description: Return only ranks in this program
          schema:
            type: string
            examples: ["2"]
        - name: version
          in: query
          description: Return only requirements versions from this year
          schema:
            type: string
            examples: ["2022"]
        - name: status
          in: query
          description: >-
            `active` returns the current requirements version of each rank
            (some ranks have two current versions). `inactive` returns all other
            versions. Case-sensitive.
          schema:
            type: string
            enum: [active, inactive]
      responses:
        "200":
          description: Matching rank versions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ranks]
                properties:
                  ranks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Rank"
              example:
                ranks:
                  - id: "20"
                    name: Discovery
                    short: Discovery
                    reallyShort: Discovery
                    level: "2"
                    image: discovery.png
                    programId: "4"
                    program: Venturing
                    searchKeywords: Venturer Rank Award Requirements
                    lds: "False"
                    sku: "620502"
                    price: "2.99"
                    priceLastUpdated: "2026-09-16"
                    scoutNet: RV12
                    versionId: "62"
                    version: "2020"
                    header: ""
                    footer: ""
                    adminNotes: ""
                    proofReadDate: ""
                    active: "True"
                    expiredDate: ""
                    disabledOnQuickEntry: "False"
                    imageUrl50: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery50.png
                    imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery100.png
                    imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery200.png
                    imageUrl400: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery400.png
        "400":
          $ref: "#/components/responses/InvalidQuery"

  /advancements/ranks/{rankId}/requirements:
    get:
      tags: [Advancement]
      operationId: getRankRequirements
      summary: Get a rank's requirements
      description: >-
        Returns one requirements version of a rank: the newest by default, or
        the one given by `versionId`. Requirements are a flat list; nest them
        using `parentRequirementId`. Some old versions have no requirements.
      security: []
      parameters:
        - $ref: "#/components/parameters/RankId"
        - name: versionId
          in: query
          description: >-
            A `versionId` of this rank from the rank list. Defaults to the
            newest version.
          schema:
            type: integer
            minimum: 1
            examples: [38]
      responses:
        "200":
          description: The requested requirements version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RankRequirements"
              example:
                rankInformation:
                  rankId: "19"
                  name: Venturing
                  version: "2020"
                  short: Venturing
                  reallyShort: Venturing
                  level: "1"
                  image: venturing.png
                  programId: "4"
                  searchKeywords: Venturer Rank Award Requirements
                  lds: "False"
                  sku: "620501"
                  price: "2.99"
                  priceLastUpdated: "2026-09-16"
                  scoutNet: RV11
                  header: ""
                  footer: ""
                  adminNotes: ""
                  proofReadDate: ""
                  active: "True"
                  disabledOnQuickEntry: "False"
                requirements:
                  - id: "1246"
                    versionId: "61"
                    name: Participate in a crew activity outside of a crew meeting.
                    short: ""
                    listNumber: "1"
                    requirementNumber: "1"
                    sortOrder: "1"
                    footer: ""
                    childrenRequired: ""
                    required: "True"
                    parentRequirementId: ""
                    videoExternalURLId: ""
                    previousRankRequired: "False"
                    monthsSinceLastRankRequired: ""
                    eagleMBRequired: ""
                    totalMBRequired: ""
                    serviceHoursRequired: ""
                    disabledOnQuickEntry: "False"
                    linkedAdventureId: ""
                    linkedAwardId: ""
        "400":
          description: "`rankId` or `versionId` is invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C400
                message: Bad Request
                errorDesc: Invalid request - "rankId" must be larger than or equal to 1
        "404":
          description: >-
            No rank exists with that ID, or `versionId` is not a version of this
            rank
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C404
                message: Not Found
                errorDesc: "Ranks information not found - rankId: 999999"

  /lookups/address/countries:
    get:
      tags: [Lookups]
      operationId: listCountries
      summary: List countries
      description: >-
        Returns all countries as an array sorted by `short`.
        With `id`, returns that one country as an object instead of an array.
      security: []
      parameters:
        - name: id
          in: query
          description: >-
            Return only the country with this `id`, as a single object rather
            than an array
          schema:
            type: integer
            examples: [616]
      responses:
        "200":
          description: >-
            An array of every country, or a single country object when `id` is
            given
          content:
            application/json:
              schema:
                type: [array, object]
                anyOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/Country"
                  - $ref: "#/components/schemas/Country"
              example:
                - name: Africa
                  short: AB
                  id: "388"
                - name: Ascension Island
                  short: AC
                  id: "389"
        "400":
          $ref: "#/components/responses/InvalidQuery"
        "404":
          description: No country exists with that `id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: M404
                message: Not Found
                errorDesc: Record is not found. id= 999999

  /lookups/address/states:
    get:
      tags: [Lookups]
      operationId: listStates
      summary: List states
      description: >-
        Returns all US states, DC, territories, and military (APO) codes as an
        array sorted by `short`. With `id`, returns that one state as an
        object instead of an array.
      security: []
      parameters:
        - name: id
          in: query
          description: >-
            Return only the state with this `id`, as a single object rather
            than an array
          schema:
            type: integer
            examples: [55]
      responses:
        "200":
          description: >-
            An array of every state, or a single state object when `id` is
            given
          content:
            application/json:
              schema:
                type: [array, object]
                anyOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/State"
                  - $ref: "#/components/schemas/State"
              example:
                - name: AA-APO AA
                  short: AA
                  id: "1"
                - name: AE-APO AE
                  short: AE
                  id: "2"
        "400":
          $ref: "#/components/responses/InvalidQuery"
        "404":
          description: No state exists with that `id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: M404
                message: Not Found
                errorDesc: Record is not found. id= 999999

  /lookups/advancements/activityCategories:
    get:
      tags: [Lookups]
      operationId: listActivityCategories
      summary: List activity categories
      description: >-
        Returns all activity categories, including expired ones, as an array
        sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every activity category
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActivityCategory"
              example:
                - id: 7
                  name: Veterans
                  description: Veterans
                  actTypeId: 1
                  effectiveDt: "1910-01-01"
                  expiryDt: ""
                - id: 17
                  name: Building/construction
                  description: Building/construction
                  actTypeId: 5
                  effectiveDt: "1910-01-01"
                  expiryDt: "2022-10-19"

  /lookups/advancements/activityTypes:
    get:
      tags: [Lookups]
      operationId: listActivityTypes
      summary: List activity types
      description: >-
        Returns all activity types as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every activity type
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActivityType"
              example:
                - id: 1
                  description: ServiceProjects
                - id: 2
                  description: Camping
                - id: 3
                  description: Hikes
                - id: 4
                  description: Long Cruise
                - id: 5
                  description: Eagle Service Project

  /lookups/advancements/calendarEventTypes:
    get:
      tags: [Lookups]
      operationId: listCalendarEventTypes
      summary: List calendar event types
      description: >-
        Returns all calendar event types, including expired ones, as an array
        sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every calendar event type
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CalendarEventType"
              example:
                - id: 4
                  name: Campout
                  shortCode: COT
                  pack: false
                  den: false
                  troop: true
                  patrol: true
                  crew: true
                  ship: true
                  post: true
                  club: true
                  lab: true
                  effectiveDt: "2014-01-01"
                  expiryDt: null
                - id: 26
                  name: None
                  shortCode: NNE
                  pack: true
                  den: true
                  troop: true
                  patrol: true
                  crew: true
                  ship: true
                  post: true
                  club: true
                  lab: true
                  effectiveDt: "2014-01-01"
                  expiryDt: "2022-11-30"

  /lookups/advancements/positions:
    get:
      tags: [Lookups]
      operationId: listPositions
      summary: List positions
      description: >-
        Returns all positions, including retired ones, as an array sorted by
        `id`.
      security: []
      responses:
        "200":
          description: An array of every position
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
              example:
                - id: "1"
                  name: Scoutmaster
                  minAge: "21"
                  maxAge: ""
                  isAdultPosition: "True"
                  isLeadershipPosition: "True"
                  positionCode: SM
                  isUnitPosition: "True"
                  isDistrictPosition: "False"
                  isCouncilPosition: "False"
                  isTerritoryPosition: null
                  isNationalPosition: "False"
                  isRetired: "False"
                  akelaSkPositionCd: SM
                  akelaPositionId: "482"
                  isKey3: "True"
                  unitTypes:
                    - image: scoutmaster200.png
                      unitTypeId: "2"

  /lookups/advancements/swimmingClassification:
    get:
      tags: [Lookups]
      operationId: listSwimmingClassifications
      summary: List swimming classifications
      description: >-
        Returns all swimming classifications as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every swimming classification
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SwimmingClassification"
              example:
                - id: 1899
                  name: Does not know how to swim
                  short: Nonswimmer
                  effectiveDt: "2010-01-01"
                  expiryDt: null
                - id: 1900
                  name: Beginner level swimming skills
                  short: Beginner
                  effectiveDt: "2010-01-01"
                  expiryDt: null
                - id: 1901
                  name: Knows how to swim
                  short: Swimmer
                  effectiveDt: "2010-01-01"
                  expiryDt: null

  /lookups/advancements/unitTimezone:
    get:
      tags: [Lookups]
      operationId: listUnitTimezones
      summary: List unit time zones
      description: >-
        Returns the time zones a unit can be set to, as an array.
      security: []
      responses:
        "200":
          description: An array of every unit time zone
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitTimezone"
              example:
                - timezoneCode: Pacific/Honolulu
                - timezoneCode: America/Anchorage
                - timezoneCode: America/Los_Angeles
                - timezoneCode: America/Denver
                - timezoneCode: America/Chicago
                - timezoneCode: America/New_York

  /lookups/advancements/unitTypes:
    get:
      tags: [Lookups]
      operationId: listUnitTypes
      summary: List unit types
      description: >-
        Returns all unit types as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every unit type
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitType"
              example:
                - id: "2"
                  name: Scouts BSA Troop
                  short: Troop
                  minAge: "10"
                  maxAge: "99"
                  subUnitType: Patrol
                  unitCode: S
                - id: "8"
                  name: Exploring STEM Lab
                  short: Lab
                  minAge: ""
                  maxAge: "99"
                  subUnitType: ""
                  unitCode: ""

  /lookups/advancements/youthLeadershipPositions:
    get:
      tags: [Lookups]
      operationId: listYouthLeadershipPositions
      summary: List youth leadership positions
      description: >-
        Returns youth leadership positions as an array sorted by `id`. These
        are a subset of the positions list, sharing its `id` values, but with
        native JSON types: numbers and booleans instead of strings, and `null`
        where the positions list has an empty string.
      security: []
      parameters:
        - name: unitTypeId
          in: query
          description: >-
            Return only positions for this unit type, with each position's
            `unitTypes` narrowed to that one entry. Must be a unit type `id`
            from the unit type list; one with no positions returns an empty
            list. Some positions that list the unit type are still left out,
            so results can differ from filtering the full list.
          schema:
            type: integer
            minimum: 1
            examples: [2]
      responses:
        "200":
          description: Matching youth leadership positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/YouthLeadershipPosition"
              example:
                - id: 3
                  name: Senior Patrol Leader
                  minAge: null
                  maxAge: null
                  positionCode: null
                  isUnitPosition: true
                  isDistrictPosition: false
                  isCouncilPosition: false
                  isTerritoryPosition: false
                  isNationalPosition: false
                  akelaSkPositionCd: null
                  akelaPositionId: 501
                  isKey3: false
                  unitTypes:
                    - image: seniorpatrolleader200.png
                      unitTypeId: 2
        "400":
          description: >-
            `unitTypeId` is not an existing unit type ID (`C400`), or is
            repeated (`M400`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C400
                message: Bad Request
                errorDesc: >-
                  Invalid request - "unitTypeId" must be valid in lookup
                  "unittypes"

  /lookups/communications/classifications:
    get:
      tags: [Lookups]
      operationId: listCommunicationClassifications
      summary: List communication classifications
      description: >-
        Returns the groups communication types fall into, such as phone and
        email, as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every communication classification
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CommunicationClassification"
              example:
                - id: "1"
                  name: Phone
                - id: "2"
                  name: Web
                - id: "3"
                  name: Email
                - id: "4"
                  name: Social Media

  /lookups/communications/communicationTypes:
    get:
      tags: [Lookups]
      operationId: listCommunicationTypes
      summary: List communication types
      description: >-
        Returns the kinds of contact entry a person can have, such as a home
        email or mobile phone, as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every communication type
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CommunicationType"
              example:
                - id: "1"
                  classificationId: "3"
                  name: Home Email
                  short: EMAL
                  doNotDisplay: "False"
                - id: "4"
                  classificationId: "1"
                  name: "Mobile "
                  short: M
                  doNotDisplay: "False"
                - id: "15"
                  classificationId: "4"
                  name: Facebook
                  short: FB
                  doNotDisplay: "True"

  /lookups/communications/mobilePhoneCarrier:
    get:
      tags: [Lookups]
      operationId: listMobilePhoneCarriers
      summary: List mobile phone carriers
      description: >-
        Returns all mobile phone carriers as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every mobile phone carrier
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MobilePhoneCarrier"
              example:
                - id: 1878
                  name: AT&T
                  short: AT&T
                  effectiveDt: "2010-01-01"
                  expiryDt: null
                - id: 1892
                  name: T-Mobile
                  short: T-Mobile
                  effectiveDt: "2010-01-01"
                  expiryDt: null
                - id: 1895
                  name: Verizon
                  short: Verizon
                  effectiveDt: "2010-01-01"
                  expiryDt: null

  /lookups/communications/phoneCountryCodes:
    get:
      tags: [Lookups]
      operationId: listPhoneCountryCodes
      summary: List phone country codes
      description: >-
        Returns all country calling codes for phone numbers as an array sorted
        by `id`.
      security: []
      responses:
        "200":
          description: An array of every phone country code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PhoneCountryCode"
              example:
                - name: Not Provided
                  short: "~~"
                  id: "635"
                - name: USA
                  short: "001"
                  id: "636"
                - name: Canada
                  short: "01"
                  id: "637"
                - name: Iran
                  short: "98 "
                  id: "854"

  /lookups/organizations/positions:
    get:
      tags: [Lookups]
      operationId: listOrganizationPositions
      summary: List organization positions
      description: >-
        Returns the person positions that have not expired, as an array sorted
        by `positionId`, with fields renamed and IDs as numbers. Fields match
        the person position list, except that `isKey3` and `isPlus3` can be
        `null` where that list has `false`.
      security: []
      parameters:
        - name: organizationType
          in: query
          description: >-
            Organization type `id` from the organization type list, as a
            number. Returns only positions whose `relationshipTypeId` matches.
            For `6` (Unit), only some of those positions are returned. `7`
            returns an empty list, and `8` is rejected.
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7]
            examples: [4]
      responses:
        "200":
          description: Matching organization positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizationPosition"
              example:
                - positionId: 482
                  positionShort: SM V
                  positionLong: Scoutmaster
                  isPaidRegistration: true
                  relationshipType: U
                  skPositionTypeCd: V
                  isKey3: true
                  isPlus3: false
                  skPositionCd: SM
                  functionalPosition: false
                  relationshipTypeId: 6
                  isDirectContact: true
                  isAdult: true
                  isYouth: false
                  isCBCRequired: true
                  isDisplayed: true
                  isExtendedAccess: "N"
        "400":
          $ref: "#/components/responses/InvalidQuery"

  /lookups/organizations/types:
    get:
      tags: [Lookups]
      operationId: listOrganizationTypes
      summary: List organization types
      description: Returns all organization types as an array sorted by `name`.
      security: []
      responses:
        "200":
          description: An array of every organization type
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizationType"
              example:
                - id: "3"
                  name: Area
                - id: "4"
                  name: Council
                - id: "5"
                  name: CouncilEntity
                - id: "8"
                  name: CouncilServiceTerritory
                - id: "7"
                  name: Group
                - id: "1"
                  name: National
                - id: "2"
                  name: Region
                - id: "6"
                  name: Unit

  /lookups/person/grades:
    get:
      tags: [Lookups]
      operationId: listGrades
      summary: List school grades
      description: >-
        Returns all school grades as an array sorted by `id`. Sort by
        `displayOrder` to get grade order, since Kindergarten has `id` 14.
      security: []
      responses:
        "200":
          description: An array of every school grade
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Grade"
              example:
                - id: 1
                  gradeName: First Grade
                  displayOrder: 2
                - id: 12
                  gradeName: Twelfth Grade
                  displayOrder: 13
                - id: 13
                  gradeName: Graduated High School
                  displayOrder: 14
                - id: 14
                  gradeName: Kindergarten / Grade Prior to the First Grade
                  displayOrder: 1
                - id: 15
                  gradeName: Other
                  displayOrder: 15

  /lookups/person/nameSuffixes:
    get:
      tags: [Lookups]
      operationId: listNameSuffixes
      summary: List name suffixes
      description: Returns all personal name suffixes as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every name suffix
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NameSuffix"
              example:
                - id: "875"
                  name: Junior
                  short: Jr.
                - id: "876"
                  name: Senior
                  short: Sr.
                - id: "879"
                  name: III
                  short: III
                - id: "1909"
                  name: XII
                  short: XII

  /lookups/person/positions:
    get:
      tags: [Lookups]
      operationId: listPersonPositions
      summary: List person positions
      description: >-
        Returns all person positions, including expired ones, as an array
        sorted by `id`. These IDs are separate from the positions list's;
        that list and the youth leadership positions list link here through
        `akelaPositionId`, and the organization position list through
        `positionId`.
      security: []
      responses:
        "200":
          description: An array of every person position
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PersonPosition"
              example:
                - id: "482"
                  name: Scoutmaster
                  short: SM V
                  code: SM
                  typeCode: V
                  key3: true
                  plus3: false
                  organizationTypeId: "6"
                  organizationType: Unit
                  packPosition: false
                  troopPosition: true
                  teamPosition: false
                  crewPosition: false
                  shipPosition: false
                  explorerPosition: false
                  stemPosition: false
                  paidRegistrationRequired: true
                  isAdult: true
                  cbcRequired: true
                  extendedAccessEligible: "N"
                  directContact: true
                  effectiveDate: "1911-01-01"
                  expiryDate: ""
                  functionalPositionFlag: false
                - id: "501"
                  name: Senior Patrol Leader
                  short: PTRL SLDR
                  code: F213
                  typeCode: F
                  key3: false
                  plus3: false
                  organizationTypeId: "6"
                  organizationType: Unit
                  packPosition: false
                  troopPosition: false
                  teamPosition: false
                  crewPosition: false
                  shipPosition: false
                  explorerPosition: false
                  stemPosition: false
                  paidRegistrationRequired: false
                  isAdult: true
                  cbcRequired: false
                  extendedAccessEligible: "N"
                  directContact: false
                  effectiveDate: "2013-05-05"
                  expiryDate: ""
                  functionalPositionFlag: true
                - id: "660"
                  name: Lion Coordinator
                  short: LC V
                  code: LC
                  typeCode: V
                  key3: false
                  plus3: true
                  organizationTypeId: ""
                  organizationType: ""
                  packPosition: false
                  troopPosition: false
                  teamPosition: false
                  crewPosition: false
                  shipPosition: false
                  explorerPosition: false
                  stemPosition: false
                  paidRegistrationRequired: true
                  isAdult: true
                  cbcRequired: true
                  extendedAccessEligible: "N"
                  directContact: false
                  effectiveDate: "2016-06-01"
                  expiryDate: "2025-05-31"
                  functionalPositionFlag: false

  /lookups/person/schools:
    get:
      tags: [Lookups]
      operationId: listSchools
      summary: Search schools
      description: >-
        Returns schools whose name matches `name`, as an array sorted by
        `name`. Filters combine with AND, and a search that matches nothing
        returns an empty list. At most 100,000 schools are returned.
      security: []
      parameters:
        - name: name
          in: query
          required: true
          description: >-
            Case-insensitive search for schools whose `name` contains this
            text. Leading and trailing whitespace is ignored, but counts toward
            the length limits. `%` matches any run of characters and `_` any
            single character, so `%%` matches every school.
          schema:
            type: string
            minLength: 2
            maxLength: 50
            examples: [lincoln]
        - name: state
          in: query
          description: >-
            Return only schools whose `stateCode` is exactly this value,
            ignoring case and trailing spaces
          schema:
            type: string
            minLength: 2
            examples: [MI]
        - name: city
          in: query
          description: >-
            Return only schools whose `city` contains this text, ignoring case.
            `%` and `_` are wildcards, as in `name`.
          schema:
            type: string
            minLength: 3
            maxLength: 50
            examples: [ionia]
        - name: zip
          in: query
          description: >-
            Return only schools whose `zip` is exactly this value. Matches the
            stored value, so a ZIP code stored without its leading zero must
            be given without it.
          schema:
            type: string
            minLength: 3
            maxLength: 5
            examples: ["48846"]
      responses:
        "200":
          description: Matching schools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/School"
              example:
                - zip: "48846"
                  address: 380 EAST TUTTLE RD
                  city: IONIA
                  phone: null
                  district: null
                  name: AA RATHER SCHOOL
                  typeId: 8
                  stateCode: "MI "
                  id: 36294
                - zip: "85042"
                  address: 7050 S. 24TH STREET
                  city: PHOENIX
                  phone: "6022438004"
                  district: ARIZONA AGRIBUSINESS & EQUINE CENTER  INC
                  name: AAEC - SMCC CAMPUS
                  typeId: 1
                  stateCode: AZ
                  id: 7870
        "400":
          description: >-
            `name` is missing (`M400`) or outside its length limits (`C400`),
            or another filter is too short or too long, or a parameter is
            repeated (`M400`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C400
                message: Bad Request
                errorDesc: >-
                  Invalid request - "name" length must be at least 2
                  characters long

  /lookups/person/titlePrefixes:
    get:
      tags: [Lookups]
      operationId: listTitlePrefixes
      summary: List title prefixes
      description: Returns all personal title prefixes as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every title prefix
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TitlePrefix"
              example:
                - id: "889"
                  name: Dr
                  short: DR
                - id: "890"
                  name: Mr
                  short: MR
                - id: "891"
                  name: Mrs
                  short: MRS
                - id: "892"
                  name: Ms
                  short: MS
                - id: "893"
                  name: Rev
                  short: REV

  /lookups/registrations/renewalOptoutReasons:
    get:
      tags: [Lookups]
      operationId: listRenewalOptoutReasons
      summary: List renewal opt-out reasons
      description: >-
        Returns all reasons a member can give for not renewing their
        registration, as an array sorted by `id`.
      security: []
      responses:
        "200":
          description: An array of every renewal opt-out reason
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RenewalOptoutReason"
              example:
                - id: 1
                  name: Moved
                  description: Moved
                  effectiveDt: "2023-08-01"
                  expiryDt: null
                  createdBy: NETBSA\bsayapan
                  createdDt: "2023-05-16T18:34:12"
                  lastModifiedBy: null
                  lastModifiedDt: null
                - id: 6
                  name: Not participating after registration expires
                  description: Not participating after registration expires
                  effectiveDt: "2025-05-29"
                  expiryDt: null
                  createdBy: NETBSA\bsasql2
                  createdDt: "2025-05-29T08:42:08"
                  lastModifiedBy: null
                  lastModifiedDt: null

components:
  schemas:
    Award:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - short
        - category
        - itemNumber
        - rankId
        - rank
        - image
        - imageSmall
        - sku
        - skuName
        - price
        - priceLastupdated
        - adultAward
        - adminNotes
        - unitTypeId
        - program
        - unitType
        - scoutNet
        - showOnEvents
        - showOnQuickEntry
        - activeDate
        - expiredDate
        - imageUrl100
        - imageUrl200
        - imageUrl300
        - imageUrl400
        - versions
      properties:
        id:
          $ref: "#/components/schemas/AwardId"
        name:
          type: string
          examples: [50-Miler Award]
        short:
          type: string
          description: Shorter name
          examples: [50 Miler]
        category:
          type: string
          examples: [Knots, ""]
        itemNumber:
          type: string
        rankId:
          type: string
          description: The rank this award belongs to, or empty
          anyOf:
            - $ref: "#/components/schemas/RankId"
            - type: string
              const: ""
        rank:
          type: string
          description: Rank name for `rankId`, or empty
          examples: [Tiger, ""]
        image:
          type: string
          description: Image path, or empty
          examples: [/images/awards/patches/50miler100.png]
        imageSmall:
          type: string
          description: Image path, or empty
        sku:
          type: string
          description: Scout Shop SKU, or empty
          examples: ["191"]
        skuName:
          type: string
          examples: [50 Miler Award Emblem]
        price:
          type: string
          description: Price in USD as a decimal string. `"0"` when not sold.
          examples: ["4.39", "0"]
        priceLastupdated:
          $ref: "#/components/schemas/StringDate"
        adultAward:
          $ref: "#/components/schemas/StringBoolean"
        adminNotes:
          type: string
          description: Internal free-text notes
        unitTypeId:
          type: string
          description: The unit type this award is for, or empty if it's for all programs
          anyOf:
            - $ref: "#/components/schemas/UnitTypeId"
            - type: string
              const: ""
        program:
          type: string
          description: Program name for `unitTypeId`, or `All` when it's empty
          examples: [Scouts BSA, All]
        unitType:
          type: string
          description: Unit type name for `unitTypeId`, or empty
          examples: [Scouts BSA Troop, ""]
        scoutNet:
          type: string
          examples: ["605"]
        showOnEvents:
          $ref: "#/components/schemas/StringBoolean"
        showOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"
        activeDate:
          $ref: "#/components/schemas/StringDate"
        expiredDate:
          $ref: "#/components/schemas/StringDate"
        imageUrl100:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl200:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl300:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl400:
          $ref: "#/components/schemas/OptionalUri"
        versions:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AwardVersion"

    AwardDetail:
      type: object
      additionalProperties: false
      description: >-
        An award from the award list, as returned on its own. Fields match
        those of the same name in `Award`.
      required:
        - id
        - name
        - short
        - category
        - itemNumber
        - rankId
        - rank
        - image
        - imageSmall
        - sku
        - skuName
        - price
        - priceLastUpdated
        - adultAward
        - adminNotes
        - unitTypeId
        - unitType
        - scoutNet
        - showOnEvents
        - showOnQuickEntry
        - activeDate
        - expiredDate
        - imageUrl100
        - imageUrl200
        - imageUrl300
        - imageUrl400
        - versions
      properties:
        id:
          $ref: "#/components/schemas/AwardId"
        name:
          type: string
        short:
          type: string
        category:
          type: string
        itemNumber:
          type: string
        rankId:
          type: string
          anyOf:
            - $ref: "#/components/schemas/RankId"
            - type: string
              const: ""
        rank:
          type: string
        image:
          type: [string, "null"]
          description: Image file name, or `null`
          examples: [50miler100.png]
        imageSmall:
          type: string
        sku:
          type: string
        skuName:
          type: string
        price:
          type: string
        priceLastUpdated:
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        adultAward:
          $ref: "#/components/schemas/StringBoolean"
        adminNotes:
          type: string
        unitTypeId:
          type: string
          anyOf:
            - $ref: "#/components/schemas/UnitTypeId"
            - type: string
              const: ""
        unitType:
          type: [string, "null"]
        scoutNet:
          type: string
        showOnEvents:
          $ref: "#/components/schemas/StringBoolean"
        showOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"
        activeDate:
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        expiredDate:
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        imageUrl100:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl200:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl300:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl400:
          $ref: "#/components/schemas/OptionalUri"
        versions:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AwardVersion"

    MissingAward:
      type: object
      additionalProperties: false
      description: >-
        Returned in place of an award for an ID that isn't in the award list
      required:
        - id
        - name
        - short
        - category
        - itemNumber
        - rankId
        - rank
        - image
        - imageSmall
        - sku
        - skuName
        - price
        - priceLastUpdated
        - adultAward
        - adminNotes
        - unitTypeId
        - unitType
        - scoutNet
        - showOnEvents
        - showOnQuickEntry
        - activeDate
        - expiredDate
        - imageUrl100
        - imageUrl200
        - imageUrl300
        - imageUrl400
        - versions
      properties:
        id:
          type: string
          description: The requested ID
          examples: ["999999"]
        name:
          type: "null"
        short:
          type: "null"
        category:
          type: "null"
        itemNumber:
          type: "null"
        rankId:
          type: "null"
        rank:
          type: string
          const: ""
        image:
          type: "null"
        imageSmall:
          type: "null"
        sku:
          type: "null"
        skuName:
          type: "null"
        price:
          type: "null"
        priceLastUpdated:
          type: "null"
        adultAward:
          type: "null"
        adminNotes:
          type: "null"
        unitTypeId:
          type: "null"
        unitType:
          type: "null"
        scoutNet:
          type: "null"
        showOnEvents:
          type: "null"
        showOnQuickEntry:
          type: "null"
        activeDate:
          type: "null"
        expiredDate:
          type: "null"
        imageUrl100:
          type: string
          const: ""
        imageUrl200:
          type: string
          const: ""
        imageUrl300:
          type: string
          const: ""
        imageUrl400:
          type: string
          const: ""
        versions:
          type: "null"

    AwardId:
      type: string
      description: An `id` from the award list
      pattern: "^[0-9]+$"
      examples: ["97"]

    AwardVersion:
      type: object
      additionalProperties: false
      required:
        - awardVersionId
        - version
        - rankId
        - rank
        - expiredDate
        - versionEffectiveDt
        - versionExpiryDt
        - image
      properties:
        awardVersionId:
          type: integer
          description: Unique per requirements version
          examples: [5]
        version:
          type: string
          description: Requirements version year
          examples: ["1911"]
        rankId:
          type: [integer, "null"]
          description: The `id` of this version's rank, as a number, or `null`
          examples: [8]
        rank:
          type: [string, "null"]
          description: Rank name for `rankId`, or `null`
          examples: [Tiger]
        expiredDate:
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        image:
          type: [string, "null"]
          description: Image path, or `null`
          examples: [/images/awards/patches/50miler100.png]

    AwardRequirements:
      type: object
      additionalProperties: false
      description: >-
        An award's requirements, as returned without `versionId`. For an award
        with no version, `awardVersionId` and `image` are `null` and the other
        version fields are empty.
      required:
        - awardId
        - awardName
        - awardVersionId
        - version
        - versionExpiredDate
        - versionEffectiveDt
        - versionExpiryDt
        - versionImage
        - image
        - imageUrl100
        - imageUrl200
        - imageUrl300
        - imageUrl400
        - requirements
      properties:
        awardId:
          $ref: "#/components/schemas/AwardId"
        awardName:
          type: string
          examples: [50-Miler Award]
        awardVersionId:
          type: [integer, "null"]
          description: "`awardVersionId` of the returned version"
          examples: [5]
        version:
          type: string
          description: Requirements version year
          examples: ["1911"]
        versionExpiredDate:
          $ref: "#/components/schemas/StringDate"
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          $ref: "#/components/schemas/StringDate"
        versionImage:
          type: string
          description: Image path of the version, or empty
        image:
          type: [string, "null"]
          description: Image path of the award, empty, or `null`
        imageUrl100:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl200:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl300:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl400:
          $ref: "#/components/schemas/OptionalUri"
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/AwardRequirement"

    AwardRequirement:
      type: object
      additionalProperties: false
      required:
        - id
        - number
        - name
        - listNumber
        - sortOrder
        - footer
        - childrenRequired
        - required
        - parentRequirementId
        - totalMBRequired
        - linkedAdventureRequirementId
        - linkedAdventureId
        - linkedMeritBadgeId
      properties:
        id:
          type: string
          examples: ["705"]
        number:
          type: string
        name:
          type: string
          description: Requirement text. Sometimes contains HTML.
        listNumber:
          type: string
          description: Display label, e.g. `1.` or `(a)`, or empty
          examples: ["1.", "(a)"]
        sortOrder:
          type: string
          description: Dotted sort key, e.g. `1` for a parent and `1.1` for its first child, or empty
          examples: ["1", "1.1"]
        footer:
          type: string
          description: Notes, sometimes containing HTML, or empty
        childrenRequired:
          type: string
          description: Number of child requirements that must be completed, or empty
          examples: ["2"]
        required:
          $ref: "#/components/schemas/StringBoolean"
        parentRequirementId:
          type: string
          description: "`id` of the parent requirement, or empty for top-level requirements"
        totalMBRequired:
          type: string
          examples: ["26"]
        linkedAdventureRequirementId:
          type: string
        linkedAdventureId:
          type: string
          description: An adventure `id` from `/advancements/adventures`, or empty
        linkedMeritBadgeId:
          type: string
          description: A linked merit badge, or empty
          anyOf:
            - $ref: "#/components/schemas/MeritBadgeId"
            - type: string
              const: ""

    AwardVersionRequirements:
      type: object
      additionalProperties: false
      description: >-
        An award's requirements, as returned with `versionId`. Fields match
        those of the same name in `AwardRequirements`, but numeric values are
        numbers and `True`/`False` values are booleans.
      required:
        - awardId
        - awardName
        - awardVersionId
        - version
        - versionExpiredDate
        - versionEffectiveDt
        - versionExpiryDt
        - versionImage
        - image
        - imageUrl100
        - imageUrl200
        - imageUrl300
        - imageUrl400
        - requirements
      properties:
        awardId:
          type: integer
          description: The award's `id`, as a number
          examples: [110]
        awardName:
          type: string
        awardVersionId:
          type: integer
          examples: [337]
        version:
          type: string
          examples: ["2018"]
        versionExpiredDate:
          $ref: "#/components/schemas/StringDate"
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          $ref: "#/components/schemas/StringDate"
        versionImage:
          type: string
        image:
          type: string
        imageUrl100:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl200:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl300:
          $ref: "#/components/schemas/OptionalUri"
        imageUrl400:
          $ref: "#/components/schemas/OptionalUri"
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/AwardVersionRequirement"

    AwardVersionRequirement:
      type: object
      additionalProperties: false
      description: >-
        Fields match those of the same name in `AwardRequirement`. Empty
        values stay empty strings.
      required:
        - id
        - number
        - name
        - listNumber
        - sortOrder
        - footer
        - childrenRequired
        - required
        - parentRequirementId
        - totalMBRequired
        - linkedAdventureRequirementId
        - linkedAdventureId
        - linkedMeritBadgeId
      properties:
        id:
          type: integer
          examples: [4158]
        number:
          type: string
        name:
          type: string
        listNumber:
          type: string
        sortOrder:
          type: [number, string]
          anyOf:
            - type: number
            - type: string
              const: ""
          examples: [1, 1.1]
        footer:
          type: string
        childrenRequired:
          $ref: "#/components/schemas/IntegerOrEmpty"
        required:
          type: boolean
        parentRequirementId:
          $ref: "#/components/schemas/IntegerOrEmpty"
        totalMBRequired:
          $ref: "#/components/schemas/IntegerOrEmpty"
        linkedAdventureRequirementId:
          $ref: "#/components/schemas/IntegerOrEmpty"
        linkedAdventureId:
          $ref: "#/components/schemas/IntegerOrEmpty"
        linkedMeritBadgeId:
          type: string

    MeritBadge:
      type: object
      additionalProperties: false
      description: >-
        All values are strings. Dates are `YYYY-MM-DD` or an empty string,
        and booleans are the strings `"True"` / `"False"`.
      required:
        - id
        - categoryId
        - category
        - bsaNumber
        - name
        - shortName
        - description
        - image
        - eagleRequired
        - centennial
        - dateCreated
        - dateDiscontinued
        - lastUpdated
        - adminNotes
        - worksheetDOC
        - worksheetPDF
        - bsaPamphletNumber
        - bsaPamphletEdition
        - bsaPamphletImage
        - bsaEmblemNumber
        - bsaEmblemImage
        - bsaRequirements
        - pageURL
        - searchKeywords
        - sku
        - price
        - priceLastUpdated
        - imageUrl50
        - imageUrl100
        - imageUrl200
        - versions
      properties:
        id:
          $ref: "#/components/schemas/MeritBadgeId"
        categoryId:
          type: string
          examples: ["3"]
        category:
          type: string
          examples: [Business and Industry]
        bsaNumber:
          type: string
          examples: ["15"]
        name:
          type: string
          examples: [American Business]
        shortName:
          type: string
          examples: [Amer. Business]
        description:
          type: string
          description: Usually empty
        image:
          type: string
          description: Image file name
          examples: [15_150.png]
        eagleRequired:
          $ref: "#/components/schemas/StringBoolean"
        centennial:
          $ref: "#/components/schemas/StringBoolean"
        dateCreated:
          $ref: "#/components/schemas/StringDate"
        dateDiscontinued:
          $ref: "#/components/schemas/StringDate"
        lastUpdated:
          $ref: "#/components/schemas/StringDate"
        adminNotes:
          type: string
          description: Internal free-text notes
        worksheetDOC:
          type: string
        worksheetPDF:
          type: string
          description: URL of a worksheet PDF, or empty
        bsaPamphletNumber:
          type: string
          examples: ["35850"]
        bsaPamphletEdition:
          type: string
          examples: ["2002"]
        bsaPamphletImage:
          type: string
          examples: [3.jpg]
        bsaEmblemNumber:
          type: string
        bsaEmblemImage:
          type: string
        bsaRequirements:
          type: string
          description: URL of the requirements page, or empty
        pageURL:
          type: string
          examples: [american-business-merit-badge-requirements.asp]
        searchKeywords:
          type: string
        sku:
          type: string
          description: Scout Shop SKU for the pamphlet
          examples: ["659930"]
        price:
          type: string
          description: Pamphlet price in USD, or empty
          examples: ["3.99"]
        priceLastUpdated:
          $ref: "#/components/schemas/StringDate"
        imageUrl50:
          type: string
          format: uri
        imageUrl100:
          type: string
          format: uri
        imageUrl200:
          type: string
          format: uri
        versions:
          type: array
          items:
            $ref: "#/components/schemas/MeritBadgeVersion"

    MeritBadgeRequirements:
      type: object
      additionalProperties: false
      required:
        - meritBadgeId
        - meritBadgeName
        - version
        - versionId
        - versionEffectiveDt
        - versionExpiryDt
        - eagleRequired
        - imageUrl50
        - imageUrl100
        - imageUrl200
        - requirements
      properties:
        meritBadgeId:
          $ref: "#/components/schemas/MeritBadgeId"
        meritBadgeName:
          type: string
          examples: [American Business]
        version:
          type: string
          description: Requirements version year
          examples: ["2019"]
        versionId:
          type: string
          examples: ["282"]
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          $ref: "#/components/schemas/StringDate"
        eagleRequired:
          $ref: "#/components/schemas/StringBoolean"
        imageUrl50:
          type: string
          format: uri
        imageUrl100:
          type: string
          format: uri
        imageUrl200:
          type: string
          format: uri
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/Requirement"

    Requirement:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - listNumber
        - requirementNumber
        - sortOrder
        - childrenRequired
        - required
        - parentRequirementId
        - daysRequired
        - counselorApproval
        - footer
      properties:
        id:
          type: string
          examples: ["8387"]
        name:
          type: string
          description: Requirement text. Often contains HTML (links, `<details>` blocks).
        listNumber:
          type: string
          description: Display label, e.g. `1.` or `(a)`
          examples: ["1.", "(a)"]
        requirementNumber:
          type: string
          description: Short identifier, e.g. `1a`. Empty on some parent requirements.
          examples: [1a]
        sortOrder:
          type: string
          description: Dotted sort key, e.g. `1` for a parent and `1.1` for its first child
          examples: ["1", "1.1"]
        childrenRequired:
          type: string
          description: Number of child requirements that must be completed, or empty
          examples: ["5"]
        required:
          $ref: "#/components/schemas/StringBoolean"
        parentRequirementId:
          type: string
          description: "`id` of the parent requirement, or empty for top-level requirements"
          examples: ["8386"]
        daysRequired:
          type: string
        counselorApproval:
          $ref: "#/components/schemas/StringBoolean"
        footer:
          type: string

    MeritBadgeVersion:
      type: object
      additionalProperties: false
      required:
        [versionId, version, versionEffectiveDt, versionExpiryDt, expiredDate]
      properties:
        versionId:
          type: string
          examples: ["282"]
        version:
          type: string
          description: Requirements version year
          examples: ["2019"]
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          $ref: "#/components/schemas/StringDate"
        expiredDate:
          $ref: "#/components/schemas/StringDate"

    Rank:
      type: object
      additionalProperties: false
      description: >-
        One requirements version of a rank. All values are strings.
      required:
        - id
        - name
        - short
        - reallyShort
        - level
        - image
        - programId
        - program
        - searchKeywords
        - lds
        - sku
        - price
        - priceLastUpdated
        - scoutNet
        - versionId
        - version
        - header
        - footer
        - adminNotes
        - proofReadDate
        - active
        - expiredDate
        - disabledOnQuickEntry
        - imageUrl50
        - imageUrl100
        - imageUrl200
        - imageUrl400
      properties:
        id:
          $ref: "#/components/schemas/RankId"
        name:
          type: string
          examples: [Discovery]
        short:
          type: string
          description: Shorter name
          examples: [Discovery]
        reallyShort:
          type: string
          description: Shortest name
          examples: [Discovery]
        level:
          type: string
          description: >-
            Position of the rank within its program, starting at `1` (Lion is
            `0`)
          examples: ["2"]
        image:
          type: string
          description: Image file name
          examples: [discovery.png]
        programId:
          type: string
          examples: ["4"]
        program:
          type: string
          description: Program name for `programId`
          examples: [Cub Scouting, Scouts BSA, Venturing, Sea Scouting]
        searchKeywords:
          type: string
        lds:
          $ref: "#/components/schemas/StringBoolean"
        sku:
          type: string
          examples: ["620502"]
        price:
          type: string
          description: Price as a decimal string. `"0"` on some old versions.
          examples: ["2.99"]
        priceLastUpdated:
          $ref: "#/components/schemas/StringDate"
        scoutNet:
          type: string
          examples: [RV12]
        versionId:
          type: string
          description: Unique per requirements version
          examples: ["62"]
        version:
          type: string
          description: Requirements version year
          examples: ["2020"]
        header:
          type: string
          description: Introductory text, or empty
        footer:
          type: string
          description: Notes, often containing HTML, or empty
        adminNotes:
          type: string
          description: Internal free-text notes
        proofReadDate:
          $ref: "#/components/schemas/StringDate"
        active:
          $ref: "#/components/schemas/StringBoolean"
        expiredDate:
          $ref: "#/components/schemas/StringDate"
        disabledOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"
        imageUrl50:
          type: string
          format: uri
        imageUrl100:
          type: string
          format: uri
        imageUrl200:
          type: string
          format: uri
        imageUrl400:
          type: string
          format: uri

    RankRequirements:
      type: object
      additionalProperties: false
      required: [rankInformation, requirements]
      properties:
        rankInformation:
          $ref: "#/components/schemas/RankInformation"
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/RankRequirement"

    RankInformation:
      type: object
      additionalProperties: false
      description: >-
        The rank, as of the returned requirements version. Fields match those
        of the same name in `Rank`.
      required:
        - rankId
        - name
        - version
        - short
        - reallyShort
        - level
        - image
        - programId
        - searchKeywords
        - lds
        - sku
        - price
        - priceLastUpdated
        - scoutNet
        - header
        - footer
        - adminNotes
        - proofReadDate
        - active
        - disabledOnQuickEntry
      properties:
        rankId:
          $ref: "#/components/schemas/RankId"
        name:
          type: string
          examples: [Venturing]
        version:
          type: string
          description: Requirements version year
          examples: ["2020"]
        short:
          type: string
        reallyShort:
          type: string
        level:
          type: string
          examples: ["1"]
        image:
          type: string
          examples: [venturing.png]
        programId:
          type: string
          examples: ["4"]
        searchKeywords:
          type: string
        lds:
          $ref: "#/components/schemas/StringBoolean"
        sku:
          type: string
          examples: ["620501"]
        price:
          type: string
          examples: ["2.99"]
        priceLastUpdated:
          description: >-
            `null` on some versions where the rank list has an empty string
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        scoutNet:
          type: string
          examples: [RV11]
        header:
          type: string
          description: Introductory text, may contain HTML, or empty
        footer:
          type: string
          description: Notes, often containing HTML, or empty
        adminNotes:
          type: string
          description: Internal free-text notes
        proofReadDate:
          $ref: "#/components/schemas/StringDate"
        active:
          $ref: "#/components/schemas/StringBoolean"
        disabledOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"

    RankRequirement:
      type: object
      additionalProperties: false
      required:
        - id
        - versionId
        - name
        - short
        - listNumber
        - requirementNumber
        - sortOrder
        - footer
        - childrenRequired
        - required
        - parentRequirementId
        - videoExternalURLId
        - previousRankRequired
        - monthsSinceLastRankRequired
        - eagleMBRequired
        - totalMBRequired
        - serviceHoursRequired
        - disabledOnQuickEntry
        - linkedAdventureId
        - linkedAwardId
      properties:
        id:
          type: string
          examples: ["1246"]
        versionId:
          type: string
          description: "`versionId` of the requirements version"
          examples: ["61"]
        name:
          type: string
          description: Requirement text. Sometimes contains HTML.
        short:
          type: string
          description: Short label, or empty
        listNumber:
          type: string
          description: Display label, e.g. `1a.` or `(a)`, or empty
          examples: ["1a.", "(a)"]
        requirementNumber:
          type: string
          description: Short identifier, e.g. `1a`, or empty
          examples: [1a]
        sortOrder:
          type: string
          description: Dotted sort key, e.g. `1.1`, or empty
          examples: ["1", "1.1"]
        footer:
          type: string
        childrenRequired:
          type: string
          description: Number of child requirements that must be completed, or empty
          examples: ["2"]
        required:
          $ref: "#/components/schemas/StringBoolean"
        parentRequirementId:
          type: string
          description: "`id` of the parent requirement, or empty for top-level requirements"
        videoExternalURLId:
          type: string
        previousRankRequired:
          $ref: "#/components/schemas/StringBoolean"
        monthsSinceLastRankRequired:
          type: string
          examples: ["4"]
        eagleMBRequired:
          type: string
          examples: ["13"]
        totalMBRequired:
          type: string
          examples: ["21"]
        serviceHoursRequired:
          type: string
          examples: ["6"]
        disabledOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"
        linkedAdventureId:
          type: string
        linkedAwardId:
          type: string
          description: A linked award, or empty
          anyOf:
            - $ref: "#/components/schemas/AwardId"
            - type: string
              const: ""

    Country:
      type: object
      additionalProperties: false
      required: [name, short, id]
      properties:
        name:
          type: string
          examples: [USA]
        short:
          type: string
          description: >-
            Two-letter code. Usually the ISO 3166-1 alpha-2 code, but not
            always (`KN` is Slovakia).
          examples: [US]
        id:
          type: string
          examples: ["616"]

    State:
      type: object
      additionalProperties: false
      required: [name, short, id]
      properties:
        name:
          type: string
          description: The `short` code, a hyphen, and the name in uppercase.
          examples: [TX-TEXAS]
        short:
          type: string
          description: Two-letter USPS code.
          examples: [TX]
        id:
          type: string
          examples: ["55"]

    ActivityCategory:
      type: object
      additionalProperties: false
      required: [id, name, description, actTypeId, effectiveDt, expiryDt]
      properties:
        id:
          type: integer
          examples: [7]
        name:
          type: string
          description: Not unique across activity types
          examples: [Veterans]
        description:
          type: string
          description: >-
            Usually the same as `name`, but can be longer and contain line
            breaks
          examples: [Veterans]
        actTypeId:
          $ref: "#/components/schemas/ActivityTypeId"
        effectiveDt:
          type: string
          format: date
          examples: ["1910-01-01"]
        expiryDt:
          $ref: "#/components/schemas/StringDate"

    ActivityType:
      type: object
      additionalProperties: false
      required: [id, description]
      properties:
        id:
          $ref: "#/components/schemas/ActivityTypeId"
        description:
          type: string
          description: Display name
          examples: [Camping]

    ActivityTypeId:
      type: integer
      description: An `id` from the activity type list
      examples: [2]

    CalendarEventType:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - shortCode
        - pack
        - den
        - troop
        - patrol
        - crew
        - ship
        - post
        - club
        - lab
        - effectiveDt
        - expiryDt
      properties:
        id:
          type: integer
          examples: [4]
        name:
          type: string
          examples: [Campout]
        shortCode:
          type: string
          examples: [COT]
        pack:
          type: boolean
          description: Whether the event type applies to packs
        den:
          type: boolean
          description: Whether the event type applies to dens
        troop:
          type: boolean
          description: Whether the event type applies to troops
        patrol:
          type: boolean
          description: Whether the event type applies to patrols
        crew:
          type: boolean
          description: Whether the event type applies to crews
        ship:
          type: boolean
          description: Whether the event type applies to ships
        post:
          type: boolean
          description: Whether the event type applies to posts
        club:
          type: boolean
          description: Whether the event type applies to clubs
        lab:
          type: boolean
          description: Whether the event type applies to labs
        effectiveDt:
          type: string
          format: date
          examples: ["2014-01-01"]
        expiryDt:
          type: [string, "null"]
          format: date
          description: Date the event type expired, or `null` if it is current
          examples: ["2022-11-30", null]

    Position:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - minAge
        - maxAge
        - isAdultPosition
        - isLeadershipPosition
        - positionCode
        - isUnitPosition
        - isDistrictPosition
        - isCouncilPosition
        - isTerritoryPosition
        - isNationalPosition
        - isRetired
        - akelaSkPositionCd
        - akelaPositionId
        - isKey3
        - unitTypes
      properties:
        id:
          type: string
          examples: ["1"]
        name:
          type: string
          description: Not unique; a retired position can share a name
          examples: [Scoutmaster]
        minAge:
          type: string
          description: Minimum age in years, or an empty string if not set
          pattern: "^([0-9]+)?$"
          examples: ["21", ""]
        maxAge:
          type: string
          description: Maximum age in years, or an empty string if not set
          pattern: "^([0-9]+)?$"
          examples: ["40", ""]
        isAdultPosition:
          $ref: "#/components/schemas/StringBoolean"
        isLeadershipPosition:
          $ref: "#/components/schemas/StringBoolean"
        positionCode:
          type: string
          description: Short code, or an empty string if not set
          examples: [SM, ""]
        isUnitPosition:
          $ref: "#/components/schemas/StringBoolean"
        isDistrictPosition:
          $ref: "#/components/schemas/StringBoolean"
        isCouncilPosition:
          $ref: "#/components/schemas/StringBoolean"
        isTerritoryPosition:
          type: "null"
        isNationalPosition:
          $ref: "#/components/schemas/StringBoolean"
        isRetired:
          $ref: "#/components/schemas/StringBoolean"
        akelaSkPositionCd:
          type: string
          examples: [SM, ""]
        akelaPositionId:
          type: string
          description: >-
            The matching person position, or an empty string if there is none
          anyOf:
            - $ref: "#/components/schemas/PersonPositionId"
            - type: string
              const: ""
        isKey3:
          type: string
          enum: ["True", "False", ""]
        unitTypes:
          type: array
          description: >-
            A position with no unit type has a single entry whose `unitTypeId`
            and `image` are empty strings.
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [image, unitTypeId]
            properties:
              image:
                type: string
                description: Image file name, or an empty string if not set
                examples: [scoutmaster200.png, ""]
              unitTypeId:
                type: string
                anyOf:
                  - $ref: "#/components/schemas/UnitTypeId"
                  - type: string
                    const: ""

    SwimmingClassification:
      type: object
      additionalProperties: false
      required: [id, name, short, effectiveDt, expiryDt]
      properties:
        id:
          type: integer
          examples: [1901]
        name:
          type: string
          examples: [Knows how to swim]
        short:
          type: string
          examples: [Swimmer]
        effectiveDt:
          type: string
          format: date
          examples: ["2010-01-01"]
        expiryDt:
          type: "null"

    UnitTimezone:
      type: object
      additionalProperties: false
      required: [timezoneCode]
      properties:
        timezoneCode:
          type: string
          description: IANA time zone name
          examples: [America/Chicago]

    UnitType:
      type: object
      additionalProperties: false
      required: [id, name, short, minAge, maxAge, subUnitType, unitCode]
      properties:
        id:
          $ref: "#/components/schemas/UnitTypeId"
        name:
          type: string
          examples: [Scouts BSA Troop]
        short:
          type: string
          examples: [Troop]
        minAge:
          type: string
          description: Minimum age in years, or an empty string if not set
          pattern: "^([0-9]+)?$"
          examples: ["10", ""]
        maxAge:
          type: string
          description: Maximum age in years
          pattern: "^[0-9]+$"
          examples: ["99"]
        subUnitType:
          type: string
          description: >-
            Name of the unit's subdivision, or an empty string if it has none
          examples: [Patrol, ""]
        unitCode:
          type: string
          examples: [S, ""]

    UnitTypeId:
      type: string
      description: An `id` from the unit type list
      pattern: "^[0-9]+$"
      examples: ["2"]

    YouthLeadershipPosition:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - minAge
        - maxAge
        - positionCode
        - isUnitPosition
        - isDistrictPosition
        - isCouncilPosition
        - isTerritoryPosition
        - isNationalPosition
        - akelaSkPositionCd
        - akelaPositionId
        - isKey3
        - unitTypes
      properties:
        id:
          type: integer
          description: Same as the position's `id` in the positions list
          examples: [3]
        name:
          type: string
          examples: [Senior Patrol Leader]
        minAge:
          type: [integer, "null"]
          description: Minimum age in years
          examples: [14, null]
        maxAge:
          type: [integer, "null"]
          description: Maximum age in years
          examples: [18, null]
        positionCode:
          type: "null"
        isUnitPosition:
          type: boolean
        isDistrictPosition:
          type: boolean
        isCouncilPosition:
          type: boolean
        isTerritoryPosition:
          type: boolean
        isNationalPosition:
          type: boolean
        akelaSkPositionCd:
          type: "null"
        akelaPositionId:
          type: [integer, "null"]
          description: >-
            Person position `id` from the person position list, as a number
            instead of a string, or `null` if there is none
          examples: [501, null]
        isKey3:
          type: boolean
        unitTypes:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [image, unitTypeId]
            properties:
              image:
                type: [string, "null"]
                description: Image file name
                examples: [seniorpatrolleader200.png, null]
              unitTypeId:
                type: integer
                description: >-
                  Unit type `id` from the unit type list, as a number instead
                  of a string
                examples: [2]

    CommunicationClassification:
      type: object
      additionalProperties: false
      required: [id, name]
      properties:
        id:
          $ref: "#/components/schemas/CommunicationClassificationId"
        name:
          type: string
          examples: [Phone]

    CommunicationClassificationId:
      type: string
      description: An `id` from the communication classification list
      pattern: "^[0-9]+$"
      examples: ["1"]

    CommunicationType:
      type: object
      additionalProperties: false
      required: [id, classificationId, name, short, doNotDisplay]
      properties:
        id:
          type: string
          pattern: "^[0-9]+$"
          examples: ["4"]
        classificationId:
          $ref: "#/components/schemas/CommunicationClassificationId"
        name:
          type: string
          description: Display name, which can end in a trailing space
          examples: ["Mobile ", Home Email]
        short:
          type: string
          description: Short code
          examples: [M, EMAL]
        doNotDisplay:
          $ref: "#/components/schemas/StringBoolean"

    MobilePhoneCarrier:
[...]
